@import "variables";

body{
    background-color: white;
    margin: 5%;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    img{
        height: 45px;
    }

    h1{
        font-family:'DM Sans', 'Courier New', Courier, monospace;
        color: $orangeTitle;
        margin-top: 0px;
    }

}

.barreDeRecherche{
    display: flex;
    align-items: center;

    .FormBarreDeRecherche{
        width: 90%;
        position: relative;

        .inputRecherche{
            width: 100%;
            height: 70px;
            background-color: #E7E7E7;
            color: #000000;
            border: none;
            border-radius: 5px;
            padding-left: 25px;
        }

        .inputRecherche::placeholder{
            font-size: 18px;
            font-weight: bold;
            opacity: 25%;
        }

        img{
            position: absolute;
            right: 0%;
            top: 30%;
        }
    }
}

.tagsDisplay{
    display: flex;

    .selectedTags{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .selectedingredientsTag{
        background-color: $ingredients;
    }

    .selectedapplianceTag{
        background-color: $appareils;
    }

    .selectedustensilsTag{
        background-color: $ustensiles;
    }

    .selectedTag{
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        border-radius: 5px;
        padding: 10px;
        height: 30px;
        font-family: "lato";
        margin: 10px;
    }

    img{
        margin-left: 10px;
        cursor: pointer;
    }
}

.menusDeroulants{
    position:absolute;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'lato';
    margin-top: 20px;
    margin-left: -4px;

    .barreDeRechercheSecondaire{
        flex-direction: column;
        border-radius: 5px;
        margin: 5px;
        height:fit-content;
        z-index: 3;
    }

    .tagList{
        column-count: 3;
        padding: 10px;
    }

    .ingredientsTagStyle{
        background-color: $ingredients;
        border-radius: 5px;
        max-width: 100%;
        height: 450px;
        width: 600px;
        overflow-y: scroll;
    }

    .applianceTagStyle{
        background-color: $appareils;
        border-radius: 5px;
        max-width: 100%;
        height: 400px;
        width: 600px;
        overflow-y: scroll;
    }

    .ustensilsTagStyle{
        background-color: $ustensiles;
        border-radius: 5px;
        max-width: 100%;
        height: 400px;
        width: 600px;
        overflow-y: scroll;
    }

    .ingredients{
        background-color: $ingredients;
    }

    .ingredientTag{
        cursor: pointer;
    }

    .appareils{
        background-color: $appareils;
    }

    .applianceTag{
        cursor: pointer;
    }

    .ustensiles{
        background-color: $ustensiles;
    }

    .ustensilTag{
        cursor: pointer;
    }

    .elementTri{        
        position: relative;
        cursor: pointer;
        width: 180px;
        height: 70px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 20px;
        font-size: 18px;
        font-weight: bold;
        transition: width 0.3s ease;

        .titreRecherche{
            display: block;
        }

        input{
            display: none;
            border: none;
            outline: none;
            background-color: transparent;
            box-shadow: none;
        }

        i{
            transform: rotate(180deg);
        }
        
        .rotate {
            position: absolute;
            right: 10px;
            transform: rotate(0deg);
            transition: transform 0.3s ease;
        }

        .rotate180 {
            animation-name: rotate-back;
            animation-duration: 0.3s;
            animation-fill-mode: backwards;
            transform: rotate(180deg);
          }
        
        @keyframes rotate-back {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(180deg); }
          }
    }
}

.errorMessage {
    display: none;
    font-weight: bolder;
    font-size: 18px;
    font-family: "lato";
    color: $orangeTitle;
    margin-top: 120px;
}

.recipeCards {
    margin-top: 100px;
    margin-left: -23px;
    display: flex;
    flex-wrap: wrap;
    font-family: "lato";

    .recipeCard {
        width: 380px;
        height: 360px;
        margin: 25px;

        .recipeCardImg {
            height: 180px;
            background-color: $recipeCardImg;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .recipeCardTxt{
            height: 180px;
            background-color: $recipeCardTxt;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            color: black;
            box-sizing: border-box;
            overflow: hidden;
            text-overflow: ellipsis;

            .recipeCardTextTop{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                position: relative;

                .recipeName{
                    width: 70%;
                    h3{
                        margin: 0px;
                        padding-top: 20px;
                        padding-left: 20px;
                        padding-bottom: 10px;
                        font-weight: 400;
                    }
                }

                .recipteTime{
                    display: flex;
                    flex-direction: row;
                    flex-direction: row;
                    align-items: center;
                    margin-right: 25px;
                    margin-left: 5px;
                    position: absolute;
                    right: 0px;

                    img{
                        margin: 5px;
                    }
                }
            }

            .recipeCardTextBottom{
                display: flex;
                flex-direction: row;
                height: 115px;
                width: 380px;

                .ingredientsText{
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    margin-right: 0px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;

                    .ingredientsList{
                        font-size: 12px;
                        margin: 0px;
                    }
                }

                .instructionsBox{
                    width: 160px;
                    margin-right: 20px;
                    margin-left: 10px;
                    overflow: hidden;
                }
                
                .instructions {
                    font-family: Roboto, sans-serif;
                    font-size: 12px;
                    padding-left: 30px;
                    margin-top: 0;
                    display: -webkit-box;
                    -webkit-line-clamp: 6;
                    -webkit-box-orient: vertical;
                    line-height: 1.4;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  
            }
        }
    }
}

