body {
  background-color: white;
  margin: 5%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
header img {
  height: 45px;
}
header h1 {
  font-family: "DM Sans", "Courier New", Courier, monospace;
  color: #D04F4F;
  margin-top: 0px;
}

.barreDeRecherche {
  display: flex;
  align-items: center;
}
.barreDeRecherche .FormBarreDeRecherche {
  width: 90%;
  position: relative;
}
.barreDeRecherche .FormBarreDeRecherche .inputRecherche {
  width: 100%;
  height: 70px;
  background-color: #E7E7E7;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding-left: 25px;
}
.barreDeRecherche .FormBarreDeRecherche .inputRecherche::placeholder {
  font-size: 18px;
  font-weight: bold;
  opacity: 25%;
}
.barreDeRecherche .FormBarreDeRecherche img {
  position: absolute;
  right: 0%;
  top: 30%;
}

.tagsDisplay {
  display: flex;
}
.tagsDisplay .selectedTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tagsDisplay .selectedIngredientTag {
  background-color: #3282F7;
}
.tagsDisplay .selectedApplianceTag {
  background-color: #68D9A4;
}
.tagsDisplay .selectedUstensilTag {
  background-color: #ED6454;
}
.tagsDisplay .selectedTag {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  padding: 10px;
  height: 30px;
  font-family: "lato";
  margin: 10px;
}
.tagsDisplay img {
  margin-left: 10px;
  cursor: pointer;
}

.menusDeroulants {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "lato";
  margin-top: 20px;
  margin-left: -4px;
}
.menusDeroulants .barreDeRechercheSecondaire {
  flex-direction: column;
  border-radius: 5px;
  margin: 5px;
  height: fit-content;
  z-index: 3;
}
.menusDeroulants .tagList {
  column-count: 3;
  padding: 10px;
}
.menusDeroulants .ingredientsTagStyle {
  background-color: #3282F7;
  border-radius: 5px;
  max-width: 100%;
  height: 450px;
  width: 600px;
  overflow-y: scroll;
}
.menusDeroulants .appliancesTagStyle {
  background-color: #68D9A4;
  border-radius: 5px;
  max-width: 100%;
  height: 400px;
  width: 600px;
  overflow-y: scroll;
}
.menusDeroulants .ustensilsTagStyle {
  background-color: #ED6454;
  border-radius: 5px;
  max-width: 100%;
  height: 400px;
  width: 600px;
  overflow-y: scroll;
}
.menusDeroulants .ingredients {
  background-color: #3282F7;
}
.menusDeroulants .ingredientTag {
  cursor: pointer;
}
.menusDeroulants .appareils {
  background-color: #68D9A4;
}
.menusDeroulants .applianceTag {
  cursor: pointer;
}
.menusDeroulants .ustensiles {
  background-color: #ED6454;
}
.menusDeroulants .ustensilTag {
  cursor: pointer;
}
.menusDeroulants .elementTri {
  position: relative;
  cursor: pointer;
  width: 180px;
  height: 70px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
  transition: width 0.3s ease;
}
.menusDeroulants .elementTri .titreRecherche {
  display: block;
}
.menusDeroulants .elementTri input {
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}
.menusDeroulants .elementTri i {
  transform: rotate(180deg);
}
.menusDeroulants .elementTri .rotate {
  position: absolute;
  right: 10px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
.menusDeroulants .elementTri .rotate180 {
  animation-name: rotate-back;
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
  transform: rotate(180deg);
}
@keyframes rotate-back {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.errorMessage {
  display: none;
  font-weight: bolder;
  font-size: 18px;
  font-family: "lato";
  color: #D04F4F;
  margin-top: 120px;
}

.recipeCards {
  margin-top: 100px;
  margin-left: -23px;
  display: flex;
  flex-wrap: wrap;
  font-family: "lato";
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipeCards .recipeCard {
  width: 380px;
  height: 360px;
  margin: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipeCards .recipeCard .recipeCardImg {
  height: 180px;
  background-color: #C7BEBE;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.recipeCards .recipeCard .recipeCardTxt {
  height: 180px;
  background-color: #E7E7E7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: black;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipeCards .recipeCard .recipeCardTxt .recipeCardTextTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.recipeCards .recipeCard .recipeCardTxt .recipeCardTextTop .recipeName {
  width: 70%;
}
.recipeCards .recipeCard .recipeCardTxt .recipeCardTextTop .recipeName h3 {
  margin: 0px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-weight: 400;
}
.recipeCards .recipeCard .recipeCardTxt .recipeCardTextTop .recipteTime {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  align-items: center;
  margin-right: 25px;
  margin-left: 5px;
  position: absolute;
  right: 0px;
}
.recipeCards .recipeCard .recipeCardTxt .recipeCardTextTop .recipteTime img {
  margin: 5px;
}
.recipeCards .recipeCard .recipeCardTxt .recipeCardTextBottom {
  display: flex;
  flex-direction: row;
  height: 115px;
  width: 380px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipeCards .recipeCard .recipeCardTxt .recipeCardTextBottom .ingredientsText {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 0px;
}
.recipeCards .recipeCard .recipeCardTxt .recipeCardTextBottom .instructionsBox {
  width: 160px;
  margin-right: 20px;
  margin-left: 10px;
}
.recipeCards .recipeCard .recipeCardTxt .recipeCardTextBottom .ingredientsText {
  height: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipeCards .recipeCard .recipeCardTxt .recipeCardTextBottom .ingredientsText .ingredientsList {
  font-size: 12px;
  margin: 0px;
}
.recipeCards .recipeCard .recipeCardTxt .recipeCardTextBottom .instructions {
  font-family: Roboto;
  font-size: 12px;
  padding-left: 30px;
  width: 85%;
  margin-top: 0px;
  height: 115px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=style.css.map */
